<div class = "section-title group">
	<h1 class = "section-title-words group" >Main</h1>
</div>
	
<div class = "sections">

	<% @subforums.each do |subforum| %>
		<% if subforum.subheading == "Main" %>
			<%= render subforum %>
		<% end %>
	<% end %>

</div>