<div class = "subforum-show-header">
	<div class = "subforum-show-header-left">
		<h1 class = "subforum-show-title"><%= @subforum.title %></h1>
		<p class = "subforum-show-description"><%= @subforum.description %></p>
	</div>
	<div class = "subforum-show-header-right">
		<p class = "subforum-show-newtopic"><%= link_to "Create a Topic", new_subforum_topic_path(@subforum) %></p>
	</div>
</div>

	<% @subforum.topics.order("created_at DESC").each do |topic| %>
	
		<%= render topic %>
		
	<% end %>


