/*******************
	HEADER
*******************/

.header {
	width: 100%;
	height: 37px;
	background: linear-gradient(to bottom, #525252 0%,#525252 50%,#525252 50%,#3B3B3B 50%,#3B3B3B 100%);
	padding: 0 3%;
	color: white;
}

.header-left {
	display: inline-block;
	line-height: 1px;
	margin: 5px;
	margin-top: 10px;
}

.header-home-icon {
	height: 16px;
	width: 18px;
	float: left;
	margin: 0 8px;
}

.header-home-link {
	float: right;
}

.header-logged-out {
	float: right;
	line-height: 1px;
	margin: 10px;
	display: inline-block;
}

.signin-logo {
	height: 15px;
	width: 15px;
	float: left;
}

.header-sign-in {
	margin: 0 20px 0 8px;
	float: left;
}

.header-register {
	margin: 0 0 0 8px;
	float: left;
}

.register-logo {
	height: 15px;
	width: 15px;
	float: left;
}

.main-wrapper {
	margin: 0 5%;
}

.header-logged-in {
	float: right;
	margin: 5px;
}

.header-profile-pic {
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 2px;
}

.header-username {
	margin: 6px 20px 0 8px;
	float: left;
}

.header-logout {
	margin: 6px 20px 0 8px;
	float: left;
}
